input {
    padding-inline: 24px;
    padding-block: 24px;
    border-radius: 16px;
    min-inline-size: 600px;
    border: 1px solid #ccc;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input::placeholder {
    color: rgb(73, 73, 73);
}